body {   
background-color: lightblue;
font-family: serif;
margin:25px 25px 25px 25px;
}

h1 {
background-color: azure;
font-family:"Times New Roman",Times,serif;
text-align:center
font-size: 50px;
color: dodgerblue;
margin:25px 25px 25px 25px;
}

h3 {
font-family: sans-serif;
}

ul {
background-color: azure;
font-family:Verdana,Helvetica,San-serif;
margin:25px 25px 25px 25px;
}